<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-12">
            <nav th:replace="navibar :: navib"></nav>
        </div>
    </div>
    <div class="bg-light" th:action="${'/'}">
        <div>
            <table class="w-auto table-sm ">
                <tbody>
                <tr>
                    <td th:text="'Kurs USD: '+ ${usd}"></td>
                    <td class="bg-white"></td>
                    <td th:text="'Au: '+ ${gold} + ' PLN/uncja'"></td>
                    <td class="bg-white"></td>
                    <td th:text="'Ag: '+ ${silver} + ' PLN/uncja'"></td>
                    <td class="bg-white"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p class="navbar-text" th:text="'Użytkownik: ' + ${user}"></p>
    <br>
    <div class="row mt-2">
        <div class="col-6">
            <form th:action="${'/'}" method="get">
                <label th:field="coin1">Szukaj po nazwie serii: </label>
                <select id="ser" name="ser">
                    <option value="">Wybierz serię</option>
                    <option th:each="gs : ${getseries}" th:value="${gs}" th:text="${gs}"/>
                </select>
                <button type="submit" class="btn btn-outline-dark btn-sm">Szukaj</button>
            </form>
        </div>

        <div class="col-6">
            <form th:action="${'/'}" method="get">
                <label th:field="coin2">Szukaj po nominale: </label>
                <select id="nom" name="nom">
                    <option value="">Wybierz nominał</option>
                    <option th:each="gv : ${getvalue}" th:value="${gv}" th:text="${gv}"/>
                    <option/>
                </select>
                <button type="submit" class="btn btn-outline-dark btn-sm">Szukaj</button>
            </form>
        </div>

    </div>

    <div class="row mt-2">
        <div class="col-4">
            <form th:action="${'/'}" method="get">
                <label th:field="coin3">Szukaj po kraju emisji: </label>
                <select id="coun" name="coun">
                    <option value="">Wybierz kraj</option>
                    <option th:each="gc : ${getcountry}" th:value="${gc}" th:text="${gc}">
                    <option/>
                </select>
                <button type="submit" class="btn btn-outline-dark btn-sm">Szukaj</button>
            </form>
        </div>

        <div class="col-4">
            <form th:action="${'/'}" method="get">
                <label th:field="coin4">Szukaj wg. próby: </label>
                <select id="hall" name="hall">
                    <option value="">Wybierz próbę</option>
                    <option th:each="gh : ${gethallmark}" th:value="${gh}" th:text="${gh}"/>
                </select>
                <button type="submit" class="btn btn-outline-dark btn-sm">Szukaj</button>
            </form>
        </div>

        <div class="col-4">
            <form th:action="${'/'}" method="get">
                <label th:field="coin5">Szukaj po stemplu: </label>
                <select id="stam" name="stam">
                    <option value="">Wybierz stempel</option>
                    <option th:each="gs : ${getstamp}" th:value="${gs}" th:text="${gs}"/>
                </select>
                <button type="submit" class="btn btn-outline-dark btn-sm">Szukaj</button>
            </form>
        </div>
    </div>

    <div class="row mt-2">

    </div>

    <div id="search2" th:action="${'/'}">
        <table class="table-sm table-bordered table-striped table-responsive-sm w-100">
            <thead>
            <tr>
                <th>#</th>
                <th>Nazwa</th>
                <th>Seria</th>
                <th>Nominał</th>
                <th>Kraj emisji</th>
                <th>Próba</th>
                <th>Stempel</th>
                <th>Wymiary</th>
                <th>Masa</th>
                <th>Wielkosc emisji</th>
                <th>Data emisji</th>
                <th>Cena emisji</th>
                <th>Wartosc</th>
                <th>Awers</th>
                <th>Rewers</th>
                <th>Coin options</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="c, i : ${viewtable}">
                <td th:text="${i.count}"></td>
                <td th:text="${c.getName()}"></td>
                <td th:text="${c.getSeries()}"></td>
                <td th:text="${c.getValue()}"></td>
                <td th:text="${c.getCountry()}"></td>
                <td th:text="${c.getHallmark()}"></td>
                <td th:text="${c.getStamp()}"></td>
                <td th:text="${c.getDimansion()}"></td>
                <td th:text="${c.getMass()}"></td>
                <td th:text="${c.getEmission()}"></td>
                <td th:text="${c.getEmissiondate()}"></td>
                <td th:text="${c.getEmissionprise()}"></td>
                <td th:text="${c.getBuyprise()}"></td>
                <td>
                    <img th:src="@{${c.getAwers()}}" style="width: 100px; height: auto">
                </td>
                <td>
                    <img th:src="${c.getRewers()}" style="width: 100px; height: auto">
                </td>
                <td>

                    <div>
                        <input hidden name="idinfo1" th:value="${c.getId()}">
                        <button type="button" class="btn btn-success open-button btn-sm pt-0 pb-0" data-toggle="modal" data-target="#infoModal2" th:attrappend="data-target=${c.getId()}">
                            Info
                        </button>

                        <div class="modal fade" id="infoModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" th:attrappend="id=${c.getId()}">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Coin note:</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-horizontal bg-light">
                                            <input hidden name="id" th:value="${c.getId()}">
                                            <h4>Informacje o monecie:</h4>
                                            <h2 th:text="${c.getNote()}"></h2>
                                            <br>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </tr>
            </tbody>
        </table>
        </form>
    </div>
</body>
</html>